body{
    background-color: rgb(255, 255, 255);
}
.form-fields input{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    background-color: aquamarine;
    border: 0px;
    
}
#account-offer{
    font-size: 16px;
}
.form-fields button{
    margin: 10px auto;
    height: 40px;
    width: 400px;
}
.form-fields button:hover{
    background-color: rgb(199, 23, 102);
    
    
}

@media only screen and (max-width:520px) {
   .form-fields input{
    height: 35px;
    width: 300px;
   }
}